
main {
    /*margin: 20vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 1vw;
    margin: 0.5vw;
    border: 1px inset black;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: bold;
}

#calculator-screen-div p {
    font-family: Roboto, serif;
}